<app-navbar></app-navbar>
<div id="main">
  <div id="container">
    <div id="info" class="w3-text-white">
      <p class="w3-large">{{'info.title' | translate}}</p>
      <p>{{'info.body' | translate}}</p>
      <p class="w3-small w3-text-orange">{{'info.disclaimer' | translate}}</p>
      <div id="input" class="w3-row">
        <div class="w3-col l4 m4 s4">
          <label>{{'input.row' | translate}}</label>
          <input [(ngModel)]="nbRows" class="w3-input" (keyup)="validInput($event)">
          <span class="w3-small w3-text-red">{{errorRow}}</span>
        </div>
        <div class="w3-col l4 m4 s4">
          <label>{{'input.col' | translate}}</label>
          <input [(ngModel)]="nbCols" class="w3-input" (keyup)="validInput($event)">
          <span class="w3-small w3-text-red">{{errorCol}}</span>
        </div>
        <div class="w3-col l4 m4 s4">
          <label>{{'input.tick' | translate}}</label>
          <input [(ngModel)]="tick" class="w3-input" (keyup)="validInput($event)">
          <span class="w3-small w3-text-red">{{errorTick}}</span>
        </div>
      </div>
      <div>
        <button class="w3-button w3-right w3-round-medium inputButton" (click)="go('')">Go</button>
        <button class="w3-button w3-right w3-round-medium inputButton" (click)="go('resolve')">{{'input.resolve' | translate}}</button>
      </div>
    </div>
    <div id="tableDiv" class="w3-hide-small">
      <table>
        <tr *ngFor="let row of rowArray; let r = index">
          <td (click)="cellClick(r,c)" [ngStyle]="tdStyle" id="cell{{r}}.{{c}}" *ngFor="let col of colArray; let c = index">
          </td>
        </tr>
      </table>
    </div>
    <div class="w3-text-white">
      <div id="legend">
        <p class="w3-large">{{'legend.title' | translate}}</p>
        <div class="w3-row">
          <span class="w3-small w3-col m1">{{'legend.start' | translate}}</span>
          <div class="legend start w3-col m1"></div>
        </div>
        <div class="w3-row">
          <span class="w3-small w3-col m1">{{'legend.end' | translate}}</span>
          <div class="legend end w3-col m1"></div>
        </div>
        <div class="w3-row">
          <span class="w3-small w3-col m1">{{'legend.user' | translate}}</span>
          <div class="legend user w3-col m1"></div>
        </div>
        <div class="w3-row">
          <span class="w3-small w3-col m1">{{'legend.bot' | translate}}</span>
          <div class="legend bot w3-col m1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
