<app-navbar></app-navbar>
<div id="main">
  <div id="container">
    <div id="info" class="w3-text-white">
      <p>Simple WebSite to generate a random labyrinth given the number of row/column the user enter. Warning, high number can take longer</p>
      <div id="input" class="w3-row">
        <div class="w3-col l6 m6 s6">
          <label>{{'input.row' | translate}}</label>
          <input [min]="10" [max]="100" [(ngModel)]="nbRows" class="w3-input" (keyup)="validInput($event)">
          <span class="w3-small w3-text-red">{{errorRow}}</span>
        </div>
        <div class="w3-col l6 m6 s6">
          <label>{{'input.col' | translate}}</label>
          <input [min]="10" [max]="100" [(ngModel)]="nbCols" class="w3-input" (keyup)="validInput($event)">
          <span class="w3-small w3-text-red">{{errorCol}}</span>
        </div>
      </div>
      <div>
        <button class="w3-button w3-right w3-round-medium inputButton" (click)="go()">Go</button>
        <button class="w3-button w3-right w3-round-medium inputButton" (click)="resolve()">{{'input.resolve' | translate}}</button>
      </div>
    </div>
    <div id="tableDiv" class="w3-hide-small">
      <table>
        <tr *ngFor="let row of rowArray; let r = index">
          <td (click)="cellClick(r,c)" [ngStyle]="tdStyle" id="cell{{r}}.{{c}}" *ngFor="let col of colArray; let c = index">
          </td>
        </tr>
      </table>
    </div>
    <div class="w3-text-white">
      <div id="legend">
        <p class="w3-large">{{'legend.title' | translate}}</p>
        <div class="w3-row">
          <span class="w3-small w3-col m1">{{'legend.start' | translate}}</span>
          <div class="legend start w3-col m1"></div>
        </div>
        <div class="w3-row">
          <span class="w3-small w3-col m1">{{'legend.end' | translate}}</span>
          <div class="legend end w3-col m1"></div>
        </div>
        <div class="w3-row">
          <span class="w3-small w3-col m1">{{'legend.user' | translate}}</span>
          <div class="legend user w3-col m1"></div>
        </div>
        <div class="w3-row">
          <span class="w3-small w3-col m1">{{'legend.bot' | translate}}</span>
          <div class="legend bot w3-col m1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
