#main {
  background-color: #2a2a2a;
  color: #000000;
  min-height: 100vh;
}
#container {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
#tableDiv {
  margin-top: 80px;
  padding-bottom: 24px;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
td {
  border: 1px solid white;
  text-align: center;
}
.w3-row-padding {
  padding-right: 0;
  padding-left: 0;
}
#input div:first-child {
  padding-right: 8px;
}
#input div:last-child {
  padding-left: 8px;
}
.inputButton {
  margin-left: 8px;
  margin-top: 30px;
  color: white;
  background-color: #ff3333;
}
.start {
  border-bottom: 5px dotted #cc5200;
}
.end {
  border-bottom: 5px dotted #b82e8a;
}
.user {
 background-color: #008ae6;
}
.bot {
  background-color: #b30000;
}
.legend {
  width: 25px;
  height: 25px;
}
#legend p {
  margin-top: 0;
  text-decoration: underline;
}
#legend span {
  padding-top: 3px;
  height: 25px;
}
#legend .w3-row {
  padding-bottom: 8px;
}
