/* You can add global styles to this file, and also import other style files */
.merriweather {
  font-family: 'Merriweather', serif;
}
.yellow {
  color: #FFC66D!important;
}
.purple {
  color: #9876AA!important;
}
.orange {
  color: #CC7832!important;
}
html, body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
.swal_title {
  font-family: 'Merriweather', serif !important;
}
